<div class="container">
  <div class="jumbotron bg-gradient-light text-dark">
          <div class="container">
            <h1 >Cadastro de usuario</h1>
          </div>
    </div>
  </div>
  <div class="container">
      <blockquote class="blockquote-reverse">
          <p>Para este sistema, a próprosta é um cadastro de usuário, ao qual, cada usuário tem um tipo de perfil</p>
          <p> além deste cadastro, cada usuário poderá ter seus respectivos itens vincucalos (Relação 1>N)</p>
        </blockquote>
  </div>
  <div class="container center">
      <img src="https://img.icons8.com/color/48/000000/administrator-male.png" class="img-fluid" alt="Responsive image"> 
</div>